.containerDisplayCompleteInfo{
  margin: 0 20px 0 20px;
}

.returnToProjects{
  cursor: pointer;
  background-color: #222;
  border: none;
  margin-left: -10%;
  &:hover{
    scale: 1.2;
  }
}

.returnArrow{
  width: 40px;
  height: 40px;

}

.projectInfoWrapper{
  margin: 10px;
  background-color: #222;
  padding: 20px 10%;
  width: 65vw;
  height: 80vh;
  border-radius: 25px;
}

.project-info {
  display: flex;
  justify-content: center;    
}

  .projectDisplayContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5%;
  }

  .projectDisplayContainer h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    background: linear-gradient(to right, #43c6a1, #00bcd4, #25ffc1);
    background-size: 400% 400%;
    animation: waveEffect 4s ease infinite;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    word-break: break-word;
  }

  .toolContainer{
    display: flex;
    width: 35vw;
    justify-content: space-evenly;
  }

  .toolName{
    text-align: center;
    font-size: 16px;
  }

  .toolBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 10px;
    font-size: 28px;
    font-weight: bold;
    background: linear-gradient(to bottom right,#ef2bd2, #c333fd);
  }

  .toolAverageContainer h4{
    font-size: 20px;
  }

  .averageBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height:90px;
    border: none;
    border-radius: 10px;
    font-size: 36px;
    font-weight: bold;
    background: linear-gradient(to bottom right,#ef2bd2, #c333fd);
  }

  .projectDescritionDetails{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
  }

  .projectDescriptionContainer h4{
    text-align: start;
    font-size: 20px;
    padding-left: 0.5%;
  }

  .projectDescriptionContainer{
    margin-top: -3%;
  }

  .assignedWrapper{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 25px;
  }

  .assignedInternNames, .assignedLeaderNames{
    height: 15vh;
    overflow: auto;
    scrollbar-width: none;
  }

  .assignedIntern, .assignedLeader{
    background: linear-gradient(to right, #ef2bd2, #f679b5, #c333fd);
    border-radius: 25px;
    height: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 900;
  }

  .projectInfoButtonContainer{
    display: flex;
    justify-content: space-evenly;
  }

  .delete-project {
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background: linear-gradient(rgb(174, 40, 40), rgb(239, 43, 210));
    color: white;
    &:hover{
      cursor: pointer;
    }
  }

  .completeProject{
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background: linear-gradient(rgb(53, 96, 134), rgb(37, 255, 193));
    color: white;

    &:hover{
      cursor: pointer;
    }
  }